
body {
  padding: 10px;
margin-top: 10vh;
  font-family: sans-serif;
}

nav .container{
  padding: 10px 0;
}

.thumbnail{
  min-height: 60vh;
  max-height: 60vh;
}

.thumbnail img{
  max-height: 30vh;
  width: auto;
}

.caption{
  margin-bottom: 10px;
}
